<!DOCTYPE html>
<html>
  <head>
    <title>Follow | <%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

  <% include include/menu.ejs %>
  <% if(locals.retMsg) {%>
  <pre>
      <%=locals.retMsg%>
    </pre>
  <% } %>
    <p>
      <form action="/follow" method="post">
        Username: <input type="text" name="uname" placeholder="Username" /> <br/>
        <input type="submit" name="action" value="Follow">
        <input type="submit" name="action" value="Unfollow">
      </form>
    </p>
  </body>
</html>
