<!DOCTYPE html>
<html>
  <head>
    <title>Login | <%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <% include include/menu.ejs %>
    <% if(locals.retMsg) {%>
    <pre>
      <%=locals.retMsg%>
    </pre>
    <% } %>
    <p>
      <form action="/login" method="post">
        Username: <input type="text" name="uname" placeholder="Username" /> <br/>
        Password: <input type="password" name="upass"/> <br/>
        <input type="submit" value="Login">
      </form>
    </p>
    <p>
      <form action="/logout" method="post">
        <input type="submit" value="Logout">
      </form>
    </p>
  </body>
</html>
