<!DOCTYPE html>
<html>
  <head>
    <title>Publish a Post | <%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

  <% include include/menu.ejs %>
  <% if(locals.retMsg) {%>
    <pre>
      <%=locals.retMsg%>
    </pre>
  <% } %>
  <% if(locals.resObj) {%>
    <% for( var i = 0; i < locals.resObj.length; i++ ){  %>
      <p>
        <b><%=locals.resObj[i].header%></b><br/>
        <%=locals.resObj[i].text%> <br/>
        <%=locals.resObj[i].author%> - <%=locals.resObj[i].publishtime%>
      </p>
    <% } %>
  <% } %>
  </body>
</html>
