<!DOCTYPE html>
<html>
  <head>
    <title>Publish a Post | <%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

  <% include include/menu.ejs %>
  <% if(locals.retMsg) {%>
  <pre>
      <%=locals.retMsg%>
    </pre>
  <% } %>
    <p>
      <form action="/publish" method="post">
        Header: <input type="text" name="header" placeholder="Header" /> <br/>
        Text: <input type="text" name="text" placeholder="Text" /> <br/>
        Private: <input type="checkbox" name="isprivate" /> <br/>
        <input type="submit" value="Submit">
      </form>
    </p>
  </body>
</html>
