<ul>
  <li> <a href="/"> Home </a> </li>
  <li> <a href="/register"> Register </a> </li>
  <li> <a href="/login"> Login/Logout </a> </li>
  <li> <a href="/follow">Follow/Unfollow</a> </li>
  <li> <a href="/publish">Publish</a> </li>
  <li> <a href="/post">Posts</a> </li>
</ul>